.forgot-email{
    margin-top: 40px !important;
}
.forgot-btn{
    margin-top: 25px !important;
}
@media(max-width:575px) {
    .forgot-pass{
        display: flex !important;
        padding-left: 40px;
    }
    .forgot-email{
        margin-top: 0!important;
    }
}